fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.5
SQLAlchemy==2.0.39
pydantic[email]
requests
pandas
altair
matplotlib
plotly
psycopg2-binary
python-dotenv
sqlmodel