{% extends 'base.html' %}
{% load static %}

{% block title %}Variant Calling{% endblock %}

{% block content %}
<style>
    .container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

textarea {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
</style>

<main role="main" class="inner cover">
    <h1 class="cover-heading">Variant Calling APP</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <textarea name="reference" placeholder="Enter your gene sequence (FASTA or plain text format)" rows="4" required>{{ reference }}</textarea>
            <br>
            <textarea name="sequence" placeholder="Enter your gene sequence (FASTA or plain text format)" rows="8" required>{{ sequence }}</textarea>
            <br>
            <button type="submit">Calculate</button>
        </form>

        <h2>Results</h2>
        <p>{{ summary }}</p>
    </div>
</main>

{% endblock %}